h1{
color: pink;
font-size: 32px;
background: grey;
font-family:'Piedra', cursive;
  text-align: center;
  text-decoration: underline;
}

h2, h3, h4 {
font-size: 20px;
background: grey;
font-family: arial;
text-align: center;

} 

p, ul, ol  {
font-size: 20px;

}

body {
background: grey;
font-family: arial;
text-align: center;
} 

h1 {
color: pink;
font-size: 32px;
}

h2, h3 {
font-size: 28px;
}

h6 {
  font-size: 30px;
  height: 40px
  width: 40px;
  text-decoration: underline;
 } 

body {
background: grey;
font-family:arial;
text-align: center;
}

div{
background: lightpink
 }

.line-transparent {
  background: black;
  width: 100%;
}

.line-light {
  height: 20px;
  width: 20%;
  background: #EE9CA7;
}

.line-medium {
  height: 20px;
  width: 30%;
  background: #C86472;
}

.line-hard {
  height: 20px;
  width: 50%;
  background: #9F3442;
}

.line-transparent {
  background: black;
  width: 100%;
  display: flex;
}

line-transparent {
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-pink {
  display: inline-block;
  color: white;
  background: #C86472;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-pink:hover {
  color: white;
  opacity: 0.8;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: pink;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #pink;
}

.link:hover {
  color: #pink;

  height="352" width="450"
}